.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.controls{
  width: 40vw;
}
.box{
  text-align: center;
  padding: 20vh  0px;
  width: 30vw;
  height: 15vh;
  color: white;
}

p{
  margin: -10px;
}
label{
  font-size: 20px;
}